{% extends 'base.html' %}
<!DOCTYPE html>
<head>
<link rel="stylesheet" href="{% static 'css/home.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<h2 class="head1">SunSet Clinic  Mulago</h2>
<div class="landing">
    <div class="land1" style="
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0.0)),url('{% static 'images/d1.jpg'%}');
    margin-top: -30px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    ">

    </div>
    <div class="land2" style="
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url('{% static 'images/d7.jpg'%}');
    background-position: center center;
    background-size: cover;
    ">

    </div>
    <div class="land3" style="
      background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url('{% static 'images/d9.jpg'%}');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    ">
        
    </div>
    <div class="land4" style="
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url('{% static 'images/d4.jpg'%}');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    ">
        
    </div>
    <div class="land5" style="
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url('{% static 'images/d3.jpg'%}');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    ">
        
    </div>
    
</div>




<hr>
    <div class="pop">
        <h2>OUR<br>DEPARTMENTS</h2>

    </div>
    <div class="services">
   
    <div class="item1">
        <img class="one" src="{% static 'images/s14.png'%}">
        <p>Dentist</p>
    </div>
    <div class="item2">
        <img class="one" src="{% static 'images/s3.png'%}">
        <p>Urology/Kidney</p>
    </div>
    <div class="item3">
        <img class="one" src="{% static 'images/s9.png'%}">
        <p>Cardiologist/heart</p>
    </div>
    <div class="item5">
        <img class="one" src="{% static 'images/s11.png'%}">
        <p>Pediatrician/Infants</p>
    </div>
 
    <div class="item7">
        <img class="one" src="{% static 'images/s8.png'%}">
        <p>Gynaecologist</p>
    </div>
    <div class="item8">
        <img class="one" src="{% static 'images/s13.png'%}">
        <p>Hepatalogist/Liver</p>
    </div>
    <div class="item9">
        <img class="one" src="{% static 'images/s2.png'%}">
        <p>Maternity</p>
    </div>
</div>
<div class="col">
<div class="major">
    <div class="hd">
        <h2>Book an appointment with us now.Our online booking system lets<br> you choose a time that works best for you</h2>
        <h4>Just Follow these steps to make an appointment online</h4>

    </div>
    <div class="instructions">
        <div class="inst1">
         <img class="two" src="images/search.png">
         <h5>Enter doctors name or<br> symptoms and press search</h5>
         <div class="n1">
            <img class="gg" src="images/n1.png">
         </div>
        </div>
        <div class="inst2">
            <img class="two" src="images/reg.png">
            <h5>Select a convenient appointment <br>slot and confirm</h5> 
            <div class="n1">
                <img class="gg" src="images/n2.png">
             </div>
        </div>
        <div class="inst3">
            <img class="two" src="images/desk.png">
            <h5>Sign Up or Login with tel<br> no or email</h5> 
            <div class="n1">
                <img class="gg" src="images/n3.png">
             </div>
        </div>
       
        <div class="inst4">
            <img class="two" src="images/start.png">
            <h5>Appointment request is received. <br>Check email for confirmation</h5> 
            <div class="n1">
                <img class="gg" src="images/n4.png">
             </div>
        </div>
        </div>
        <div class="btn">
            <a href="#" id="bookAppointmentLink" class="btn btn-primary">Book Appointment Now</a>
        </div>
    </div>
    </div>
</div>
<div class="vir">
    <div class="side1">
    <h2>Need To See A Doctor?<br>With our virtual consultation option, you can meet with your healthcare provider from anywhere</h2>
    <h4>Its convenient, its secure, and its just a click away.</h4>
    <div class="btn2">
        Get Virtual Consultation
    </div>
    </div>
    <div class="side2">
       <img src="images/vt.jpg"> 
    </div>
    
</div>
<div class="banner">
    <img class="hsd" src="images/hsd.png">
</div>
<!--
<div class="rev">
<div class="owl-carousel owl-theme">
    <div> <img src ="images/headache.jpg"></div>
    <div> <img src ="images/hygiene.jpg"></div>

    <div><img src ="images/diet.jpg"> </div>
    <div> <img src ="images/breast cancer.jpg"></div>
    <div><img src ="images/exercise.jpg"></div>
    <div><img src ="images/start.png"></div>
    <div><img src ="images/start.png"> </div>
    
  </div>
</div>
-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function(){
        $(".owl-carousel").owlCarousel();
      });
</script>
<script>
    
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("bookAppointmentLink").addEventListener("click", function(event) {
                event.preventDefault(); // Prevent the default action
                window.location.href = "{% url 'third_view' %}"; // Redirect to third.html
            });
        });

    
</script>

</body>
<h1>Thank you for registering with us</h2>