<!DOCTYPE Html>
<head>
<link rel="stylesheet" href="second.css">
</head>
<body>
    <div class="virtual">
    <h1>Virtual visits: Convenient and safe</h1>
    <p>A convinient, simple way to see a health care provider without going to a doctor's office. Our virtual visit services include online video and phone appointments.<br>
    Schedule an appointment with your primary care physician, a specialist or for immediate, non-emergency, conditions you can visit with any providers within minutes.
    </p>
    <div class="vt">
        <img src="images/vt.jpg">
    </div>
</div>
<div class="set">
<div class="bn">
<h2>See a provider Now</h2>
<p>A virtual visit with any provider <br>for minor immediate health concerns</p>
<button>Start Your Visit </button>
</div>
<div class="nb">
<h2>Schedule with a Provider</h2>
<p>Schedule a virtual visit with your primary<br> doctor or specialty provider</p>
<button>Schedule Now</button>
</div>
</div>
<div class="care">
    <div class="care1">
    <h2>Get care in minutes for common concerns</h2>
    <ul>
        <li>Enter your information and symptoms</li>
        <li>Sit down with our provider, who will diagnose and treat your concerns</li>
        <li>Review your personalized care plan</li>
        <li>Any prescriptions will be sent to your local pharmacy</li>
        <li>Most insurance accepted</li>
        <li>Available 8am - 8pm</li>
    </ul>
    <p>Learn more about Expresscare</p>
    </div>
    <div class="care2">
        <h2>See Your Provider From The Comfort Of Your Home</h2>
        <ul>
            <li>Find your provider on your patient portal</li>
            <li>Follow The scheduling instructions</li>
            <li>Receive a secure appointment link or phone number</li>
            <li>Visit with your provider and review your personalized care plan</li>
        
        </ul>
        <p>Learn more about virtual visits</p>
    </div>
</div>
</body>